.box {
  border: 2px solid lightgray;
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: ivory;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box:hover {
  border-color: lightcoral;
}

.top, .middle, .bottom {
  text-align: center;
}

body {
  background-color: steelblue;
}

h1, h3 {
  text-align: center;
  color: seashell;
}

h1 {
  margin: 10px 0;
}

button {
  display: block;
  margin: 20px auto;
  font-family: tahoma;
}
button:hover {
  color: blue;
}
